Source: firmapiu
Section: misc
Priority: optional
Maintainer: Valerio Baldisserotto <svalo@libersoft.it>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.5
Homepage: http://libersoft.it

Package: firmapiu
Architecture: all
Depends: ${misc:Depends}, firmapiu-gui 
Description: Meta-package installing FirmaPiu software 
 This meta-package installs firmapiu-gui, libfirmapiu-java and firmapiu-daemon, 
 a suite to easily sign and  verify files complying with Italian law

