Source: smartcard-driver
Section: libs
Priority: optional
Maintainer: Valerio Baldisserotto <svalo@libersoft.it>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.5
Homepage: http://www.libersoft.it

Package: smartcard-driver
Architecture: all
Depends: ${misc:Depends}, libacr38u, opensc, pcscd. libccid
Description: Libraries providing support to Athena and Incard/Oberthur smartcards
 This library provides drivers for Athena and Incard/Oberthur, 
 it provides as well drivers for all cards handled by opensc 
 and for ACR38U lector
 
